.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    margin-top: -1.5rem !important;
    background-color: #1e80f8;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 1.5rem;
  }
